<link rel="stylesheet" href="<%= assetPath('css/home.css') %>">
<link rel="stylesheet" href="<%= assetPath('css/chat_box.css') %> ">
<h1>
    connectRJ / <%= title %>
</h1>

<div id="home-container">
    <section id="feed-posts">
        <h4>Posts</h4>
        <% if(locals.user){ %>
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" cols="30" rows="3" id="postArea" placeholder="Type Here..."
                    required></textarea>
                <input type="submit" value="Post">
            </form>
            <% } %>

                <div id="posts-list-container">
                    <ul>
                        <% for(post of posts){ %>



                            <%-include('_posts')-%>

                                <%} %>
                    </ul>
                </div>
    </section>
    <section class="aside">
        <!-- Friends -->
        
        <% if(locals.user){ %>
            <header>
                <h3 class="white-back">Friends</h3>
            </header>
        <div class="friends-container white-back">
            <% for(let f of friends){ %>
                <div class="user">
                    <a href="/users/profile/<%= f.to_user.id %>"><i class="fas fa-user-circle"></i>
                        <%= f.to_user.name %>
                    </a>
                </div>
            <% } %>
        </div>
        <% } %>
    <section id="user-friends">
        <h4>Userss</h4>
        <%for(u of all_users){%>
            <p>
                <a href="/users/profile/<%=u.id%>">
                    <%=u.name%>
                </a>
            </p>
            <%}%>
    </section>
    <%- include("_chatbox") %>
    <script src="<%= assetPath('js/home_post_comments.js') %>" ></script>
    <script src="<%= assetPath('js/home_posts.js') %>"></script>
    <script src="<%= assetPath('js/toggle_likes.js') %>"></script>
    
    <script>
        $('.toggle-like-button').each(function () {
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js" integrity="sha512-MgkNs0gNdrnOM7k+0L+wgiRc5aLgl74sJQKbIWegVIMvVGPc1+gc1L2oK9Wf/D9pq58eqIJAxOonYPVE5UwUFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="<%= assetPath('js/chat_engine.js') %>"></script>
    <% if (locals.user){ %>
        <script>
            new ChatEngine('user-chat-box', '<%= locals.user.email %>')
        </script>
    <% } %>
</div>