 <link rel="stylesheet" href="/css/userProfile.css">
    <h1>users<<%=title%>/h1>
<p><%=profile_user.name%></p>
<p><%=profile_user.email%></p>
<%if(user.avatar){%>
    <img src="<%=user.avatar%>" alt="<%=user.name%>" width="100px">
 <%}else{%>
    <%if(user.gender=="Male"){%>
        <img src="/images/male.jpg" alt="" width="100px">
    <%}else{%>
        <img src="/images/female.png" alt="" width="100px">
    <%}%>

 <%}%>
<% if(user.id==profile_user.id){%>
    <!-- if user matches then show the id -->
    <form action="/users/update/<%=profile_user.id%>" enctype="multipart/form-data" method="post">
        <input type="text" name="name" placeholder="your name" value="<%=profile_user.name%>" required>
        <input type="email" name="email" placeholder="your email" value="<%=profile_user.email%>" required> 
        <input name="avatar" type="file" placeholder="profile picture">
        <input type="submit" value="Update">

    </form>



    <%} else{ %>
        <p>
                <%= profile_user.name %>
        </p>
        <p>
                <%= profile_user.email %>
        </p>
        <p>
                <% let isFriend = false; %>
                <% for( let friend of profile_user.friends){ %>
                        <% console.log(friend.from_user); %>
                       
                        <% if(friend.to_user == locals.user.id || friend.from_user == locals.user.id ){ %>
                                <% isFriend = true; %>
                        <% } %>
                <% } %>
                <% if(isFriend){ %>
                        <a class="toggle-friend-btn" href="/friends/add-friend/<%= profile_user.id %>">Remove Friend</a>
                <% }else{ %>
                        <a class="toggle-friend-btn toggle"  href="/friends/add-friend/<%= profile_user.id %>">Add Friend</a>
                <% } %>
        </p>
<% } %>

<script src="/js/toggle-friends.js"></script>